USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_Delete_Details]    Script Date: 19/08/2025 09:28:26 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



ALTER PROC [dbo].[BespokeProject_Delete_Details]

@Client_ID VARCHAR(24)
,@Batch_No VARCHAR(24)
,@Selected_Records VARCHAR(MAX)


AS

DECLARE @SQL VARCHAR(MAX)

SET @SQL = '

DELETE 
		BespokeProject_Details
WHERE 
		Client_ID = ''' + @Client_ID + '''
		AND Batch_No = ''' + @Batch_No + '''
		AND Ref_No IN ' + @Selected_Records 
		


PRINT (@SQL)
EXECUTE (@SQL)


