USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_Get_Exceptions]    Script Date: 19/08/2025 09:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[BespokeProject_Get_Exceptions]

@Batch_No VARCHAR(48)
,@Box_ID VARCHAR(48)
,@Client_ID VARCHAR(3)

AS



SELECT 
			ISNULL(
				STUFF(
						(
							SELECT 
										', ' + Ref_No
							FROM 
										BespokeProject_Details
							WHERE 
										Batch_No = @Batch_No 
										AND BoxID = @Box_ID
										AND Client_ID = @Client_ID
										AND Ref_No IN (SELECT Ref_No FROM BespokeProjects_Exceptions WHERE Client_ID = @Client_ID)
							FOR XML PATH(''), TYPE
						).value('.', 'NVARCHAR(MAX)'), 1, 2, ''
					), 'NO RESULTS'
			) as [Ref_No]



