USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_Insert_Details]    Script Date: 19/08/2025 09:29:09 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




ALTER PROC [dbo].[BespokeProject_Insert_Details]

@Client_ID VARCHAR(24)
,@Batch_No VARCHAR(24)
,@BoxID VARCHAR(24)
,@Ref_No VARCHAR(100)
,@User VARCHAR(24)


AS

DECLARE @Location VARCHAR(255)

SET @Location = (SELECT String_1 FROM BespokeProject_Parameters WHERE [Description] = 'Default Location')

SET @Ref_No = (SELECT CASE WHEN LEFT(@Ref_No, 3) = 'IBB' THEN SUBSTRING(@Ref_No, 5, 11) ELSE @Ref_No END)

IF EXISTS (SELECT Ref_No FROM BespokeProject_Details WHERE Client_ID = @Client_ID AND Client_ID = '045' AND Ref_No = @Ref_No AND Batch_No = @Batch_No AND BoxID = @BoxID) 
SELECT NULL
ELSE
INSERT INTO BespokeProject_Details VALUES 
(
	@Client_ID  -- CLIENT ID
	,@Batch_No  -- BATCH NUMBER
	,@BoxID    -- BOX ID
	,@Ref_No   -- REFERENCE NUMBER
	,@Location -- LOCATION
	,GETDATE() -- DATE CREATED
	,@User     -- USER CREATED
	,@User     -- LAST UPDATED USER
	,GETDATE() -- LAST UPDATED
)



