USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_Insert_Exceptions]    Script Date: 19/08/2025 09:29:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[BespokeProject_Insert_Exceptions]

@Ref_No VARCHAR(100)
,@Client_ID VARCHAR(3)


AS

IF NOT EXISTS (SELECT Ref_No FROM BespokeProjects_Exceptions WHERE Ref_No = @Ref_No AND Client_ID = @Client_ID)

INSERT INTO BespokeProjects_Exceptions VALUES
(@Client_ID, @Ref_No, GETDATE())



