USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_LP_Complete_Man]    Script Date: 19/08/2025 09:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[BespokeProject_LP_Complete_Man]

@License_Plate VARCHAR(255),
@User VARCHAR(100),
@Update VARCHAR(100)

AS

--=======================================================================
-- UPDATE LICENSE PLATE
--=======================================================================

UPDATE 
		BespokeProject_LP_Headers
SET 
		[Status] = @Update
		,Last_Upd_User = @User
		,Last_Updated = GETDATE()
WHERE 
		License_Plate = @License_Plate