USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_LP_Delete_Details]    Script Date: 19/08/2025 09:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[BespokeProject_LP_Delete_Details]

@License_Plate VARCHAR(255)
,@Consignment VARCHAR(255)
,@User VARCHAR(100)

as

--======================================================================================================================================
-- DELETE DETAILS % MIS-INJECT RECORD
--======================================================================================================================================

DELETE 
		BespokeProject_LP_Details
WHERE 
		RTRIM(License_Plate) = @License_Plate
		AND RTRIM(Consignment) = @Consignment

DELETE 
		BespokeProject_LP_MisInject
WHERE 
		RTRIM(License_Plate) = @License_Plate
		AND RTRIM(Consignment) = @Consignment

--======================================================================================================================================
-- DELETE OR UPDATE HEADER RECORD
--======================================================================================================================================

DECLARE @Count INT = (SELECT COUNT(*) FROM BespokeProject_LP_Details WHERE License_Plate = @License_Plate GROUP BY License_Plate)

IF ISNULL(@Count, 0) = 0 
	BEGIN 
		DELETE 
				BespokeProject_LP_Headers
		WHERE 
				License_Plate = @License_Plate
	END
ELSE
	BEGIN 
		UPDATE 
				BespokeProject_LP_Headers
		SET 
				Last_Upd_User = @User
				,Last_Updated = GETDATE()
	END