USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_LP_Get_Location]    Script Date: 19/08/2025 09:30:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[BespokeProject_LP_Get_Location]

@Location VARCHAR(255)

as

--=================================================================
-- GET DATA
--=================================================================

SELECT 
			RTRIM(Location) as [Carrier]
			,RTRIM(Description) as [Description]
			,CASE 
					WHEN Active = '1' THEN 'Active'
					WHEN Active = '0' THEN 'Inactive'
			END as [Status]
FROM 
			BespokeProject_LP_Locations
WHERE 
			Location = @Location