USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_LP_Get_Carrier]    Script Date: 19/08/2025 09:30:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[BespokeProject_LP_Get_Carrier]

@Carrier VARCHAR(6)

as

SELECT 
			RTRIM(carrier) as [Carrier]
			,RTRIM(Description) as [Description]
			,RTRIM(Prefix) as [Prefix]
			,RTRIM(Pram_1) as [Colour]
			,CASE 
					WHEN Active = '1' THEN 'Active'
					WHEN Active = '0' THEN 'Inactive'
			END as [Status]
FROM 
			BespokeProject_LP_Carriers
WHERE 
			Carrier = @Carrier