USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_LP_Get_Details]    Script Date: 19/08/2025 09:30:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[BespokeProject_LP_Get_Details]

@Mode INT,
@Session_Id VARCHAR(255),
@Search VARCHAR(4000)

as

DECLARE @SQL VARCHAR(MAX)

DELETE BespokeProject_LP_Input_Results WHERE Session_Id = @Session_Id
DELETE BespokeProject_LP_Search_Results WHERE Session_Id = @Session_Id
DELETE BespokeProject_LP_Man_Results WHERE Session_Id = @Session_Id

SET @SQL = 
CASE

--===================================================================================================================================================
-- GET RESULTS FOR INPUT/EDIT FORM --
--===================================================================================================================================================

		WHEN @Mode = 1 THEN '

		INSERT INTO [BespokeProject_LP_Input_Results]
		
		SELECT
					''' + @Session_Id + '''
					,[Headers].[License_Plate]
					,[Details].[Consignment]
					,[Details].[DT_Created]
		FROM 
					BespokeProject_LP_Headers as Headers
					LEFT JOIN BespokeProject_LP_Details as Details on Details.License_Plate = Headers.License_Plate
		WHERE 
					Headers.Status = 30
					
		'

--===================================================================================================================================================
-- GET RESULTS FOR SEARCH FORM --
--===================================================================================================================================================
		
		WHEN @Mode = 2 THEN '

		INSERT INTO [BespokeProject_LP_Search_Results]

		SELECT
					''' + @Session_Id + '''
					,[Headers].[License_Plate]
					,[Details].[Consignment]
					,[Details].[DT_Created]
					,(SELECT [Description] FROM BespokeProject_LP_Status WHERE [status] = [Headers].[Status]) as [Status]
					,[Headers].[Last_Updated]
					,[Headers].[Last_Upd_User]
		FROM 
					BespokeProject_LP_Headers as Headers
					LEFT JOIN BespokeProject_LP_Details as Details on Details.License_Plate = Headers.License_Plate
		WHERE 
					(
						[Headers].[License_Plate] LIKE ''%' + ISNULL(@Search, '') + '%''
						OR [Details].[Consignment] LIKE ''%' + ISNULL(@Search, '') + '%''
					) 
					OR CAST([Details].[DT_Created] as Date) = 
						CASE 
								WHEN ''' + ISNULL(@Search, '1900-01-01') + ''' LIKE ''%-%-%'' AND LEN(''' + ISNULL(@Search, '1900-01-01') + ''') = 10 THEN ''' + ISNULL(@Search, '1900-01-01') + ''' 
								ELSE ''1900-01-01''
						END

		'

--===================================================================================================================================================
-- GET RESULTS FOR MANIFEST FORM --
--===================================================================================================================================================

		WHEN @Mode = 3 THEN '
		INSERT INTO [BespokeProject_LP_Man_Results]

		SELECT
					''' + @Session_Id + '''
					,[Details].[Consignment]
					,[Details].[DT_Created]
		FROM 
					BespokeProject_LP_Headers as Headers
					LEFT JOIN BespokeProject_LP_Details as Details on Details.License_Plate = Headers.License_Plate
		WHERE 
					[Headers].[License_Plate] = ''' + ISNULL(@Search, '')+ ''' 

		'

END

PRINT (@SQL)
EXECUTE (@SQL)
