USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_LP_Get_Totals]    Script Date: 19/08/2025 09:31:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[BespokeProject_LP_Get_Totals]

@License_Plate VARCHAR(255)

as

SELECT 
			(SELECT [Description] FROM BespokeProject_LP_Status WHERE [status] = [Headers].[Status]) as [Status]
			,Headers.Location
			,COUNT(Details.Consignment) as [Totals]
FROM 
			BespokeProject_LP_Headers as  Headers
			LEFT JOIN BespokeProject_LP_Details as Details on Headers.License_Plate = details.License_Plate 
WHERE 
			Headers.License_Plate = @License_Plate
GROUP BY 
			Headers.[Status]
			,Headers.Location