USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_LP_Generations]    Script Date: 19/08/2025 09:30:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [dbo].[BespokeProject_LP_Generations]

	@Carrier VARCHAR(255)
	,@Qty INT

AS

--==================================================================================================================================
-- DECLARE & SET VARIABLES
--==================================================================================================================================

DECLARE @TimeStamp VARCHAR(6) = SUBSTRING(CONVERT(VARCHAR(8), GETDATE(), 112), 3, 6)
DECLARE @Prefix VARCHAR(3) = RTRIM((SELECT prefix FROM BespokeProject_LP_Carriers WHERE Carrier = @Carrier))
DECLARE @Number INT = (SELECT Int_1 FROM BespokeProject_LP_Parameters WHERE ID = '001') + 1
DECLARE @License_Plate VARCHAR(255)
DECLARE @GeneratedCount INT = 0

SET @Qty = CASE WHEN @Qty > 100 THEN 100 ELSE @Qty END

--==================================================================================================================================
-- Create a temporary table to store the license plates
--==================================================================================================================================

CREATE TABLE #TEMP_LP_GEN 
	(
		License_Plate VARCHAR(255),
		License_Plate_Barc VARCHAR(255)
	)

--==================================================================================================================================
-- LOOP TO GENERATE REQUIRED QUANTITY OF UNIQUE LICENSE PLATES
--==================================================================================================================================
    
WHILE @GeneratedCount < @Qty

BEGIN

    SET @License_Plate = ISNULL(@Prefix, '') + '-' + @TimeStamp + '-' + RIGHT('000' + RTRIM(@Number), 3)

    IF NOT EXISTS (SELECT License_Plate FROM BespokeProject_LP_Headers WHERE License_Plate = @License_Plate)   

--==================================================================================================================================
-- LOOP -- Insert unique license plate into the temporary table
--==================================================================================================================================
	
	BEGIN

        INSERT INTO #TEMP_LP_GEN (License_Plate, License_Plate_Barc) VALUES 
		(@License_Plate, '*' + RTRIM(@License_Plate) + '*')

        -- Increment the generated count --
        SET @GeneratedCount = @GeneratedCount + 1

        -- Update the parameter table to keep track of the latest number used --
        UPDATE 
				BespokeProject_LP_Parameters
        SET 
				Int_1 = @Number
				,Last_Upd_User = 'GEN_REPORT'
				,Last_Updated = GETDATE()
        WHERE 
				ID = '001'
    END

--==================================================================================================================================
-- LOOP -- Increment the number for the next potential license plate
--==================================================================================================================================

    SET @Number = @Number + 1

END
    
--==================================================================================================================================
-- RETURN RESULTS
--==================================================================================================================================
    
SELECT * FROM #TEMP_LP_GEN

DROP TABLE #TEMP_LP_GEN

