USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_LP_Insert_Details]    Script Date: 19/08/2025 09:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[BespokeProject_LP_Insert_Details]

@License_Plate VARCHAR(255)
,@Consignment VARCHAR(255)
,@Location VARCHAR(255)
,@User VARCHAR(100)
,@Session_Id VARCHAR(255)

as

--======================================================================================================================================
-- EXTRACT RMT TRACKING FROM 2D BARCODE
--======================================================================================================================================

IF LEFT(@Consignment, 3) = 'JGB'
	BEGIN 
		SET @Consignment = RIGHT(LEFT(@Consignment, 71), 13)
	END

--======================================================================================================================================
-- INSERT INTO HEADER TABLE
--======================================================================================================================================

IF EXISTS 
	(
		SELECT 
					License_Plate 
		FROM 
					BespokeProject_LP_Headers 
		WHERE 
					License_Plate = REPLACE(@License_Plate,'_','-')
	)
	BEGIN 

		UPDATE 
				BespokeProject_LP_Headers
		SET 
				Last_Updated = GETDATE()
				,Last_Upd_User = @User
		WHERE 
				License_Plate = REPLACE(@Consignment,'_','-')	
	END
ELSE
	BEGIN

		INSERT INTO BespokeProject_LP_Headers VALUES
		(
			REPLACE(@License_Plate,'_','-')
			,'30'
			,@Location
			,@User
			,GETDATE()
			,GETDATE()
		)

	END 

--======================================================================================================================================
-- INSERT INTO DETAILS TABLE
--======================================================================================================================================

IF NOT EXISTS 
	(
		SELECT 
					Consignment 
		FROM 
					BespokeProject_LP_Details 
		WHERE 
					License_Plate = REPLACE(@License_Plate,'_','-') 
					AND Consignment = REPLACE(@Consignment,'_','-')
	)
	BEGIN
		INSERT INTO BespokeProject_LP_Details VALUES
		(
			REPLACE(@License_Plate,'_','-')
			,REPLACE(@Consignment,'_','-')			
			,@User
			,GETDATE()
		)
	END

--======================================================================================================================================
-- CHECK FOR MIS-INJECTION
--======================================================================================================================================

DECLARE @Carrier VARCHAR(3) = LEFT(@License_Plate, 3) 
DECLARE @IsMatch INT = 0

--======================================================================================================================================
-- CHECK RMT STARTS WIH 2 LETTERS, ENDS WITH "GB" CONTAINS 9 DIGITS
--======================================================================================================================================

IF @Carrier = 'RMT'
	BEGIN
		IF PATINDEX('[A-Z][A-Z][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]GB', @Consignment) = 1 OR LEFT(@Consignment, 3) = 'JGB'
			SET @IsMatch = 1
	END

--======================================================================================================================================
-- CHECK DPD STARTS"%" AND CONTAINS "1550"
--======================================================================================================================================

ELSE IF @Carrier = 'DPD'
	BEGIN
		IF @Consignment LIKE '%1550%' AND LEFT(@Consignment, 1) = '%'
			SET @IsMatch = 1
	END

--======================================================================================================================================
-- CHECK PRO CARRIER STARTS WITH 2 LETTERS CONTAINS 11 DIGITS
--======================================================================================================================================

ELSE IF @Carrier = 'PRO'
	BEGIN
		IF PATINDEX('[A-Z][A-Z][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]', @Consignment) = 1
			SET @IsMatch = 1
	END

--======================================================================================================================================
-- DEFAULT IF CARRIER IS UNKNOWN
--======================================================================================================================================

ELSE
	BEGIN
		SET @IsMatch = 1
	END

--======================================================================================================================================
-- INSERT INTO MIS-INJECT TABLE IF NO MATCH
--======================================================================================================================================

IF @IsMatch = 0
BEGIN
	IF NOT EXISTS (SELECT 1 FROM BespokeProject_LP_MisInject WHERE Consignment = @Consignment AND License_Plate = @License_Plate)
		BEGIN
			INSERT INTO BespokeProject_LP_MisInject VALUES
				(
					@License_Plate
					,@Consignment
					,GETDATE()
				)
		END
END

--======================================================================================================================================
-- OLD CODE
--======================================================================================================================================

--IF (LEFT(@License_Plate, 3) = 'RMT' AND (@Consignment LIKE '[%]%')) 
--OR (LEFT(@License_Plate, 3) = 'DPD' AND (@Consignment NOT LIKE '%[%]%'))
--OR (LEFT(@License_Plate, 3) = 'PRO' AND (@Consignment LIKE '%[%]%' OR @Consignment LIKE '%[GB]'))
--	BEGIN 

--		IF NOT EXISTS (SELECT 1 FROM BespokeProject_LP_MisInject WHERE Consignment = @Consignment AND License_Plate = @License_Plate)
--			BEGIN
--				INSERT INTO BespokeProject_LP_MisInject VALUES
--					(
--						@License_Plate
--						,@Consignment
--						,GETDATE()
--					)
--			END

--	END
