USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_LP_Mis_inject_Report]    Script Date: 19/08/2025 09:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[BespokeProject_LP_Mis_inject_Report]

as

SELECT
			RTRIM(Headers.License_Plate) as [License Plate]
			,(SELECT [Description] FROM BespokeProject_LP_Carriers as [Carriers] WHERE [Carriers].Prefix = LEFT(Headers.License_Plate, 3)) as [Carrier]
			,(SELECT [Description] FROM BespokeProject_LP_Status as [Status] WHERE [Status].[Status] = Headers.[Status]) as [Status]
			,RTRIM(headers.Location) as [Location]
			,RTRIM(Details.Consignment) as [Consignment]
			,RTRIM(Details.[User]) as [User]
			,CAST(Details.DT_Created as date) as [Date]
			INTO #TEMP_RESULTS
FROM 
			BespokeProject_LP_Headers as Headers
			LEFT JOIN BespokeProject_LP_Details  as Details on Headers.License_Plate = Details.License_Plate
WHERE 
			Details.License_Plate + Details.Consignment IN (SELECT License_Plate + Consignment FROM BespokeProject_LP_MisInject)
			AND ((Details.DT_Created >= GETDATE() - 2 AND Headers.[Status] = 220)
			OR Headers.[Status] = 30)
ORDER BY 
			Details.DT_Created DESC


IF (SELECT COUNT(*) FROM #TEMP_RESULTS) > 0
	BEGIN
		SELECT * FROM #TEMP_RESULTS ORDER BY #TEMP_RESULTS.[Date] desc
	END
ELSE
	BEGIN 
		SELECT 1/0 as [ERROR]
	END