USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_LP_Update_Carriers]    Script Date: 19/08/2025 09:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[BespokeProject_LP_Update_Carriers]

 @Carrier VARCHAR(6)
,@Description VARCHAR(255)
,@Prefix VARCHAR(255)
,@Colour VARCHAR(255)
,@Active VARCHAR(255)
,@User VARCHAR(255)

as

--====================================================================================================
-- UPDATE IF EXISTS
--====================================================================================================

IF EXISTS (SELECT Carrier FROM BespokeProject_LP_Carriers WHERE Carrier = @Carrier)

	BEGIN 

		UPDATE 
				BespokeProject_LP_Carriers
		SET 
				[Description] = @Description
				,Prefix = @Prefix
				,Pram_1 = @Colour
				,Active = CASE WHEN @Active = 'Active' THEN 1 ELSE 0 END
				,Last_Upd_User = @User
				,Last_Updated = GETDATE()
		WHERE 
				Carrier = @Carrier

	END

--====================================================================================================
-- INSERT IF DOES NOT
--====================================================================================================

ELSE

	BEGIN

		INSERT INTO BespokeProject_LP_Carriers VALUES
			(
				@Carrier
				,@Description
				,@Prefix
				,@Colour
				,NULL
				,CASE WHEN @Active = 'Active' THEN 1 ELSE 0 END
				,@User
				,GETDATE()
			)

	END