USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_LP_Update_Locations]    Script Date: 19/08/2025 09:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[BespokeProject_LP_Update_Locations]

 @Location VARCHAR(6)
,@Description VARCHAR(255)
,@Active VARCHAR(255)
,@User VARCHAR(255)

as


--====================================================================================================
-- UPDATE IF EXISTS
--====================================================================================================

IF EXISTS (SELECT Location FROM BespokeProject_LP_Locations WHERE Location = @Location)

	BEGIN 

		UPDATE 
				BespokeProject_LP_Locations
		SET 
				[Description] = @Description
				,Active = CASE WHEN @Active = 'Active' THEN 1 ELSE 0 END
				,Last_Upd_User = @User
				,Last_Updated = GETDATE()
		WHERE 
				Location = @Location

	END

--====================================================================================================
-- INSERT IF DOES NOT
--====================================================================================================

ELSE

	BEGIN

		DECLARE @Id INT = (SELECT TOP 1 ID FROM BespokeProject_LP_Locations ORDER BY ID DESC) + 1

		INSERT INTO BespokeProject_LP_Locations VALUES
			(
				@Id
				,@Location
				,@Description				
				,CASE WHEN @Active = 'Active' THEN 1 ELSE 0 END
				,@User
				,GETDATE()
			)

	END