USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_PraisePhrase]    Script Date: 19/08/2025 09:32:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[BespokeProject_PraisePhrase]


@Current_Message VARCHAR(4000)

AS


--=======================================================================================================
-- DECLARE VARIABLES
--=======================================================================================================

DECLARE @Min INT = (SELECT MIN(ID) FROM BespokeProject_Praise)
DECLARE @Max INT = (SELECT MAX(ID) FROM BespokeProject_Praise)
DECLARE @Random_ID INT = @Min + CAST((RAND() * (@Max - @Min + 1)) AS INT)
DECLARE @Message VARCHAR(4000)
DECLARE @Exclusion INT = (SELECT ID FROM BespokeProject_Praise WHERE [Message] = @Current_Message)

--=======================================================================================================
-- ENSURE A NEW MESSAGE IS SELECTED
--=======================================================================================================

WHILE @Random_ID = @Exclusion

BEGIN

    SET @Random_ID = @Min + CAST((RAND() * (@Max - @Min + 1)) AS INT)

END

--=======================================================================================================
-- SELECT MESSAGE
--=======================================================================================================

SELECT 
			@Message = [Message]
FROM 
			BespokeProject_Praise
WHERE 
			ID = @Random_ID

--=======================================================================================================
-- SHOW RESULTS
--=======================================================================================================

SELECT @Message AS RandomPraise

