USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_Update_Details]    Script Date: 19/08/2025 09:33:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




ALTER PROC [dbo].[BespokeProject_Update_Details]

@Client_ID VARCHAR(24)
,@Batch_No VARCHAR(24)
,@Field VARCHAR(24)
,@New_Data VARCHAR(255)
,@Selected_Records VARCHAR(MAX)
,@User Varchar(24)


AS

--======================================================================================
-- DECALRE VARIABLES
--======================================================================================

DECLARE @SQL VARCHAR(MAX)
DECLARE @Field_Act VARCHAR(MAX)

--======================================================================================
-- SET FIELD
--======================================================================================

SET @Field_Act = 
CASE
		WHEN @Field = '1' THEN 'Ref_No'
		WHEN @Field = '2' THEN 'Batch_No'
		WHEN @Field = '3' THEN 'BoxID'
		ELSE 'ERROR'
END

--======================================================================================
-- DYNAMIC QUERY
--======================================================================================

SET @SQL = '
UPDATE 
		BespokeProject_Details
SET 
		' + @Field_Act + ' = ''' + @New_Data + '''
		,Last_Upd_User = ''' + @User + '''
		,Last_Updated = GETDATE()
WHERE 
		Client_ID = ''' + @Client_ID + '''
		AND Ref_No IN ' + @Selected_Records 
		
--======================================================================================
-- EXECUTE
--======================================================================================

PRINT (@SQL)
EXECUTE (@SQL)



