
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_Delete_Details]    Script Date: 03/01/2024 10:11:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROC [dbo].[BespokeProject_Delete_Details]

@Batch_No VARCHAR(24)
,@Selected_Records VARCHAR(MAX)


AS

DECLARE @SQL VARCHAR(MAX)

SET @SQL = '

DELETE 
		BespokeProject_Details
WHERE 
		Batch_No = ''' + @Batch_No + '''
		AND Ref_No IN ' + @Selected_Records 
		


PRINT (@SQL)
EXECUTE (@SQL)
