
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_Insert_Details]    Script Date: 03/01/2024 10:11:54 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


ALTER PROC [dbo].[BespokeProject_Insert_Details]

@Batch_No VARCHAR(24)
,@BoxID VARCHAR(24)
,@Ref_No VARCHAR(24)
,@User VARCHAR(24)


AS

DECLARE @Location VARCHAR(255)

SET @Location = (SELECT String_01 FROM BespokeProject_Parameters WHERE Parameter = 'Default Location')

IF EXISTS (SELECT Ref_No FROM BespokeProject_Details WHERE Ref_No = @Ref_No AND Batch_No = @Batch_No AND BoxID = @BoxID) 
SELECT NULL
ELSE
INSERT INTO BespokeProject_Details VALUES 
(
	@Batch_No  -- BATCH NUMBER
	,@BoxID    -- BOX ID
	,@Ref_No   -- REFERENCE NUMBER
	,@Location -- LOCATION
	,GETDATE() -- DATE CREATED
	,@User     -- USER CREATED
	,@User     -- LAST UPDATED USER
	,GETDATE() -- LAST UPDATED
)

