
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_Update_Details]    Script Date: 03/01/2024 10:11:56 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


ALTER PROC [dbo].[BespokeProject_Update_Details]

@Batch_No VARCHAR(24)
,@Field VARCHAR(24)
,@New_Data VARCHAR(255)
,@Selected_Records VARCHAR(MAX)
,@User Varchar(24)


AS

DECLARE @SQL VARCHAR(MAX)

SET @SQL = '
UPDATE 
		BespokeProject_Details
SET 
		' + @Field + ' = ''' + @New_Data + '''
		,Last_Upd_User = ''' + @User + '''
		,Last_Updated = GETDATE()
WHERE 
		Ref_No IN ' + @Selected_Records 


PRINT (@SQL)
EXECUTE (@SQL)

