
GO
/****** Object:  StoredProcedure [dbo].[BespokeProject_Get_Details]    Script Date: 03/01/2024 10:11:51 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


ALTER PROC [dbo].[BespokeProject_Get_Details]

@Batch_No VARCHAR(24)
,@Ref_No VARCHAR(24)
,@BoxID VARCHAR(24)
,@Form VARCHAR(24)

AS

DECLARE @SQL VARCHAR(MAX)

SET @SQL = 
CASE
WHEN @Form = 'SEARCH' THEN 

'
SELECT
RTRIM(BespokeProject_Details.Batch_No) as [Batch Number]
,RTRIM(BespokeProject_Details.BoxID) as [Box ID]
,RTRIM(BespokeProject_Details.Ref_No) as [Reference]
,RTRIM(BespokeProject_Details.Location) as [Location]
,CAST(BespokeProject_Details.DT_Created as date) as [Date Created]
,RTRIM(BespokeProject_Details.User_Created) as [User Created]
,RTRIM(BespokeProject_Details.Last_Upd_User) as [Last Updated User]
,CAST(BespokeProject_Details.Last_Updated as date) as [Last Updated]
FROM 
BespokeProject_Details
'
WHEN @Form = 'MAIN' THEN 

'
SELECT
RTRIM(BespokeProject_Details.Batch_No) as [Batch Number]
,RTRIM(BespokeProject_Details.BoxID) as [Box ID]
,RTRIM(BespokeProject_Details.Ref_No) as [Reference]
,RTRIM(BespokeProject_Details.Location) as [Location]
,CAST(BespokeProject_Details.DT_Created as date) as [Date Created]
,RTRIM(BespokeProject_Details.User_Created) as [User Created]
FROM 
BespokeProject_Details
'

END
SET @SQL = @SQL +
CASE
		WHEN ISNULL(@Batch_No, '') = '' THEN 
											CASE 
													WHEN ISNULL(@BoxID, '') = '' THEN 'WHERE BespokeProject_Details.Ref_No = ''' + ISNULL(@Ref_No, '') + '''' 
													ELSE 'WHERE BespokeProject_Details.BoxID = ''' + ISNULL(@BoxID, '') + ''''
											END
		WHEN ISNULL(@Ref_No, '') = '' THEN 
											CASE 
													WHEN ISNULL(@BoxID, '') = '' THEN 'WHERE BespokeProject_Details.Batch_No = ''' + ISNULL(@Batch_No, '') + '''' 
													ELSE 'WHERE BespokeProject_Details.Batch_No = ''' + ISNULL(@Batch_No, '') + ''' AND BespokeProject_Details.BoxID = ''' + ISNULL(@BoxID, '') + ''''
											END
		WHEN ISNULL(@BoxID, '') = '' THEN 
											CASE 
													WHEN ISNULL(@Ref_No, '') = '' THEN 'WHERE BespokeProject_Details.Batch_No = ''' + @Batch_No + '''' 
													ELSE 'WHERE BespokeProject_Details.Batch_No = ''' + ISNULL(@Batch_No, '') + ''' AND BespokeProject_Details.Ref_No = ''' + ISNULL(@Ref_No, '') + ''''
											END

		ELSE 'WHERE BespokeProject_Details.Batch_No = ''' + ISNULL(@Batch_No, '') + ''' AND BespokeProject_Details.Ref_No = ''' + ISNULL(@Ref_No, '') + ''' AND BespokeProject_Details.BoxID = ''' + ISNULL(@BoxID, '') + ''''
END

SET @SQL = @SQL +

'ORDER BY BespokeProject_Details.DT_Created DESC'


PRINT (@SQL)
EXECUTE (@SQL)

